<% @title = "職員管理" %>
<h1><%= @title %></h1>

<div class="table-wrapper">
  <div class="links">
    <%= link_to "新規登録", :new_admin_staff_member %>
  </div>

  <%= paginate @staff_members %>
  <table class="listing">
    <tr>
      <th>氏名</th>
      <th>フリガナ</th>
      <th>メールアドレス</th>
      <th>入社日</th>
      <th>退職日</th>
      <th>停止フラグ</th>
      <th>アクション</th>
    </tr>
    <%= render partial: "member", collection: @staff_members %>
  </table>
  <%= paginate @staff_members %>

  <div class="links">
    <%= link_to "新規登録", :new_admin_staff_member %>
  </div>
</div>